body{
    font-family:autour one;
    background-image: url('background.jpg');
    background-size:cover;
    background-attachment:fixed ;
    background-repeat:no-repeat;
    color:rgb(255, 255, 255);
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 1s linear forwards;
  }

  @keyframes moveup {
    100%{
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  .top{
    height:15px;
    margin:0px;
    padding:0px;
    margin-bottom:100px;
  }
  
  marquee{
    height:50px;
    direction: ltr;

  }
  
  .quote{
    font-family: autour one;
    display: flex;
    justify-content: center;
    padding:10px 75px 10px 75px;
    border-radius:15px 150px 15px 150px;
    margin-right: auto;
    margin-left: auto;
    width:1000px;
    font-weight:bold;
    font-size: 20px;
    background-color:rgb(0, 81, 255);
    text-align:center;
    letter-spacing: 2px;
  }

nav{
text-decoration:none;
color:white;
}

.schl{
  background-image: url('chalk.jpg');
  background-size:cover;
  font-family:autour one;
  font-weight:bolder;
  font-size: 30px;
  text-align: left;
  letter-spacing:3px;
  height: 30px;
  width:180px;
  padding:150px 215px 150px 185px;
  border-radius: 25px;
  border:solid;
  border-width: 2px;
transition-duration:0.4s;
}

.schl:hover{
letter-spacing:10px;
height:40px;
width:190px;
}  

.clg{
  background-image: url('mit.jpg');
  background-image: url(https://www.dialeducation.com/assets/images/gallery/gallery_1610435914.jpg);
  background-size:cover;
  font-family:autour one;
  font-weight:bolder;
  font-size:30px;
  letter-spacing:3px;
  height: 30px;
  width:180px;
  padding:150px 215px 150px 185px;
  border-radius: 25px;
  border:solid;
  border-width: 2px;
  transition-duration:0.4s;
}

.clg:hover{
letter-spacing:10px;
height: 40px;
width:190px;
}  
  
.flex{
  display: flex;
  margin:50px;
  align-items: center;
  vertical-align: middle;
  justify-content: space-evenly;
}

a{
  text-decoration: none;
  color:rgb(255,255,255);
  cursor:pointer;
}
table{
  background-color: rgba(19, 13, 13, 0.5);
  color: rgb(255, 255, 255);
  background-size: cover;
  background-position: left;
  padding:30px;
  margin:40px;
}

table,td{
  padding: 20px;
  padding-bottom: 30px;
  margin-top: 0px; 
  border-collapse: collapse;
  border-style: solid;
  border-color: antiquewhite;
  border-width: 2px;
  font-family: Emilys Candy;

}

.k{
  font-size: 40px;
  text-align: center;
  padding-inline: 40px;
}

.d1,.d2,.d3{
  font-size: 20px;
  padding-inline: 20px 50px;
}

.e1,.e2,.e3{
    font-size: 20px;
}
.f1,.f2,.f3{
  font-size: 20px;
}
