body{
    font-family:autour one;
    background-image: url('Image-1/background.jpg');
    background-size:cover;
    background-attachment:fixed ;
    background-repeat:no-repeat;
    color:rgb(255, 255, 255);
}

.title{
    display: flex;
    justify-content: center;
    padding-top:15px;
}
.Clgname{
    display: flex;
    justify-content: center;
    font-size: 90px;
    color: black;
    text-shadow: 5px 8px  rgba(39, 43, 59, 0.842);
    font-family:Jaini;
    margin-top:20px;
}
.box-1{
    position:relative;
    background-color: rgba(248, 248, 248, 0.4);
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}
.content{
    position: relative;
    color: black;
    height: 150px;
}
.subhead{
    color: black;
    margin-left:30px;
}
li{
    color: rgb(0, 0, 0);
    margin-left:30px;
}
iframe{
    margin:30px;
    border:2px;
    border-color: black;
    border-radius: 25px;
}
